/*Bloqueia movimento Horizontal*/
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    width: 100%;

}
.fade-in {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}
.fade-in.show {
    opacity: 1; 
    transform: translateY(0); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ; 
}


/* Seção "Quem Somos" */
.cabecalho {
    display: flex;
    padding: 50px;
    background-color: #EDEDED; 
    margin-bottom: 30px;
    width: 100%;
    height: auto; 
}
.cabecalho img {
    flex: 3;
    width: 100%; 
    height: 20px; 
    object-fit: cover; 
    border-radius: 0px; 
    flex-shrink: 0;
    margin-right: -10%;
    transform: scale(1.11);
    margin-left: -20px;
    margin-bottom: -30px;
}
.cabecalho .img-fluid {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
}
.cabecalho .img-fluid-crianca {
    width: 100%;
    height: 370px; 
    object-fit: cover;
}
.conteudo-cabecalho {
    width: 50%;
    padding: 10px 20px; 
    margin-right: 20%;   
    margin-top: 1%;
    margin-left: 11%;
    margin-bottom: 4%;
    flex-shrink: 0;
}
h1 .quem-somos {
    font-size: 35px;
    margin-left: 40px;
}
h2.quem-somos {
    margin: 10px 0;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    color: #1D1D1F;
}
/*Estilo para telas menores*/
@media (max-width: 1128px) {
    .cabecalho {
      flex-direction: column; 
      text-align: center; 
      align-items: center; 
    }
    .cabecalho img {
      width: 80%; 
      margin: 0 auto; 
    }
    .conteudo-cabecalho {
      width: 100%; 
      padding: 10px;
      text-align: center; 
    }
    .conteudo-cabecalho h1 {
      font-size: 24px; 
    }
    .conteudo-cabecalho h2 {
      font-size: 18px; 
    }
    .conteudo-cabecalho p {
      font-size: 14px; 
    }
  }

  
/* Seção "Nossa Atuação/ Nossas Conquistas/ Usina se reinventa" */
.atividades {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.atividades h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.galeria {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.item-galeria {
    flex: 1;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.item-galeria:hover {
    transform: scale(1.05); /* Leve zoom ao passar o mouse */
}
.item-galeria img {
    width: 100%;
    height: 250px;
    border-radius: 0px; 
}
/* Efeito de animação para sublinhado */
.item-galeria p {
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.item-galeria p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #69A625;
    transition: width 0.3s ease-in-out;
}
.item-galeria p:hover::after {
    width: 100%; 
}

/*Estilo para telas menores*/
@media (max-width: 767px) {
    .galeria {
        flex-direction: column; 
        align-items: center; 
        gap: 15px; 
    }

    .item-galeria {
        flex: 1 1 100%; 
        max-width: 100%; 
        margin-bottom: 20px; 
    }

    .item-galeria img {
        max-width: 100%; 
        height: auto; 
        max-height: 200px; 
    }

    .item-galeria p {
        font-size: 14px; 
    }

    .atividades h2 {
        font-size: 28px; 
        margin-bottom: 20px; 
    }
}

/* FIM da Seção "Nossa Atuação/ Nossas Conquistas/ Usina se reinventa" */


/* Seção "Nossos Principais Objetivos" */
h1.objetivos {
    margin: 5px 0;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    color: #1D1D1F;
    text-align: right;
    padding-bottom: 0;
}

h2.objetivos {
    margin: 5px 0;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1D1D1F;
    text-align: right;
    padding-top: 0;
}

.objetivos {
    padding: 20px;
    width: 100%;
    background-color: #EDEDED; /* Retângulo cinza */
    margin-bottom: 30px;
}

.conteudo-objetivos {
    display: flex;
    align-items: center;
    gap: 20px;
}

.objetivos .texto {
    flex: 1;
    text-align: right;
    margin-left: 5%;
}

.objetivos .imagem {
    flex: 1;
}

.objetivos .img-fluid {
    width: 100%;
    height: 350px; 
    object-fit: cover; 
}

/* Estilo para telas menores */
@media (max-width: 768px) {
    .conteudo-objetivos {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      text-align: center; 
      gap: 20px; 
    }
    .imagem img {
      width: 80%; 
      margin: 0 auto; 
    }
    .texto {
      width: 100%; 
      padding: 10px; 
    }
    .texto h1 {
      font-size: 22px; 
      text-align: center; 
      margin: 0 auto;
      margin-bottom: 2%;
    }
    .texto h2 {
      font-size: 18px; 
    }
    .texto p {
      font-size: 14px; 
      line-height: 1.6; 
      text-align: center; 
      margin: 0 auto; 
    }
  }
  

/* Seção "Bolinhas" */
.objetivos-detalhados {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.objetivos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tres,
.dois {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
.objetivo-card {
    display: inline-block;
    width: 40%;
    margin: 40px;
    text-align: center;
    vertical-align: top;
    position: relative; 
}
.circular-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.objetivo-card h3 {
    background-color: #6aa6258f; 
    color: #2B2B2E;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 8px; 
    border-radius: 0px; 
    position: relative; 
    z-index: 1; 
    display: inline-block; 
}
.img-fluid {
    width: 100%; 
    height: 20px; 
    object-fit: cover; 
    border-radius: 0px; 
    flex-shrink: 0;
}
.slider-container {
    width: 90%;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}
.slider {
    display: flex;
    transition: transform 0.3s ease;
    cursor: grab;
}
.parceiro {
    min-width: 200px;
    margin: 10px;
    padding: 20px;
    background-color: #2196F3;
    color: white;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
}
/*Estilo para telas menores*/
@media (max-width: 900px) {
    .tres, .dois {
        justify-content: center;
    }

    .objetivo-card {
        width: calc(50% - 20px); 
    }
}
@media (max-width: 600px) {
    .tres, .dois {
        flex-direction: column;
        align-items: center;
    }

    .objetivo-card {
        width: 100%; 
    }
}


/* Seção "Parceiros Estratégicos..." */
.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;  
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper i {
    height: 50px;
    width: 50px;
    background: #69A625;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-right: 20px;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    z-index: 1;
    transition: transform 0.2s ease-out;
}
.wrapper i:first-child {
    left: -80px;
    color: #ffffff;
}
.wrapper i:last-child {
    right: -80px;
    color: #ffffff;
}
.wrapper .carrossel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
.carrossel::-webkit-scrollbar {
    display: none;
}
.carrossel :where(.parceiro, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrossel .dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}
.carrossel .parceiro {
    scroll-snap-align: start;
    height: 342px;
    width: 300px;
    list-style: none;
    background: #fff;
    border-radius: 0px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: none;
}
.parceiro .img {
    width: 148px;
    height: 148px;
    border-radius: 0%;
    overflow: visible;
}
.parceiro .img img {
    width: 190px;
    height: 160px;
    object-fit: cover;
    border-radius: 0%;
    overflow: visible;
}
.parceiro h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: #2B2B2E;
    text-align: center;
}
.parceiro span {
    color: #6a6d78;
    font-size: 1.31rem;
}
.titulo {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: -3%;
    color: #1D1D1F;
    font-size: 25px;
    padding-bottom: 0;
}
.titulo h1 {
    position: relative;
    top: 20px;
}

.parceiros {
    font-weight: 400; 
}

.estrategicos {
    font-weight: 300; 
}

.retangulo-fundo {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 105%; 
    z-index: -1;
  }
  

  section {
    position: relative;
    padding-top: 50px; 
    z-index: 0;
  }
  .wrapper i:active {
    transform: translateY(-50%) scale(1.2); 
}

/* Estilo para telas menores*/
@media (max-width: 1200px) {
    .titulo h1 {
        font-size: 28px; 
        text-align: center;
        margin-right: 8%;
    }
    .wrapper {
        max-width: 800px;
        margin: 0 auto;
    }
    .wrapper .carrossel {
        grid-auto-columns: calc((100% / 2) - 12px);
        margin-left: 14%;
    }
}

@media (max-width: 896px) {
    .titulo h1 {
        font-size: 24px; 
        text-align: center;
    }
    .wrapper {
        max-width: 600px;
        margin: 0 auto;
    }
    .wrapper i {
        height: 40px;
        width: 40px;
        font-size: 16px; 
    }
    .wrapper .carrossel {
        grid-auto-columns: calc((100% / 1) - 12px);
    }
}

@media (max-width: 896px) {
    .titulo h1 {
        font-size: 20px; 
        text-align: center;
    }
    .wrapper {
        max-width: 400px;
        margin: 0 auto;
    }
    .wrapper i {
        height: 35px;
        width: 35px;
        font-size: 14px; 
    }
    .wrapper .carrossel {
        grid-auto-columns: 100%;
    }
}

/* FIM da Seção "Parceiros Estratégicos..." */


/* Seção "Parceiros e Conexões..." */
.wrapper-conexoes {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    margin-top: 2%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-conexoes i {
    height: 50px;
    width: 50px;
    background: #69A625;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-right: 20px;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    z-index: 1;
    transition: transform 0.2s ease-out;
}
.wrapper-conexoes i:first-child {
    left: -80px;
    color: #EDEDED;
}
.wrapper-conexoes i:last-child {
    right: -80px;
    color: #EDEDED;
}

.wrapper-conexoes .carrossel-conexoes {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carrossel-conexoes::-webkit-scrollbar {
    display: none;
}

.carrossel-conexoes .parceiro-conexoes {
    scroll-snap-align: start;
    height: 342px;
    width: 300px;
    list-style: none;
    background: #fff;
    border-radius: 0px;
    display: flex;
    cursor: pointer;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.parceiro-conexoes .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 148px;
    height: 148px;
    border-radius: 0%;
    overflow: visible;
}
.parceiro-conexoes .img img {
    width: 190px;
    height: 160px;
    object-fit: cover;
    border-radius: 0%;
    overflow: visible;
}
.parceiro-conexoes h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: #1d1d1d;
    text-align: center;
}
.parceiro-conexoes span {
    color: #6a6d78;
    font-size: 1.31rem;
    text-align: center;
}

.titulo-conexoes {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-top: -3%;
    color: #1d1d1d;
    font-size: 25px;
    padding-bottom: 0;
}

.titulo-conexoes h1 {
    position: relative;
    top: 20px;
}

.parceiros-conexoes {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400; 
}

.conexoes {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
}

.retangulo-fundo-conexoes {
    position: absolute;
    top: 5;
    left: 0;
    width: 100%;
    height: 105%; 
    z-index: -1;
}

.wrapper-conexoes i:active {
    transform: translateY(-50%) scale(1.2); 
}

.fade-in {
    opacity: 0; 
    transform: translateY(20px); 
    transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
}
.fade-in.show {
    opacity: 1; 
    transform: translateY(0); 
}

/* Estilo para telas menores" */
@media (max-width: 1200px) {
    .titulo-conexoes h1 {
        font-size: 28px; 
        text-align: center; 
        margin-right: 8%; 
    }
    .wrapper-conexoes {
        max-width: 800px; 
        margin: 0 auto; 
    }
    .wrapper-conexoes .carrossel-conexoes {
        grid-auto-columns: calc((100% / 2) - 12px); 
        margin-left: 14%; 
    }
}

@media (max-width: 896px) {
    .titulo-conexoes h1 {
        font-size: 24px; 
        text-align: center; 
    }
    .wrapper-conexoes {
        max-width: 600px; 
        margin: 0 auto; 
    }
    .wrapper-conexoes i {
        height: 40px;
        width: 40px;
        font-size: 16px; 
    }
    .wrapper-conexoes .carrossel-conexoes {
        grid-auto-columns: calc((100% / 1) - 12px); 
    }
}

@media (max-width: 896px) {
    .titulo-conexoes h1 {
        font-size: 20px; 
        text-align: center; 
    }
    .wrapper-conexoes {
        max-width: 400px; 
        margin: 0 auto; 
    }
    .wrapper-conexoes i {
        height: 35px;
        width: 35px;
        font-size: 14px; 
    }
    .wrapper-conexoes .carrossel-conexoes {
        grid-auto-columns: 100%; 
    }
}

/* FIM da Seção "Parceiros e Conexões..." */


/* Espaçamento entre os carrosséis */
section + section {
    margin-top: 50px; 
}


