body {
    font-family: "Roboto", sans-serif;
    background-color: #f8f9fa;
    color: #333;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 50px 200px;
}
.textos{
    padding: 60px 70px;
}
h1 {
    color: #1D1D1F;
    font-size: 35px; 
    margin-bottom: 40px;
}
h3 {
    color: #1D1D1F;
    font-size: 1.3rem; 
    margin-top: 30px;
}
ul {
    margin-left: 20px;
}
p {
    margin-bottom: 20px;
}
a {
    color: #5A9CC3;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}


/* Botão Voltar */
.back-btn {
    font-size: 15px;
    cursor: pointer;
    transform: none;
    display: inline-block;
    padding: 8px 15px;
    color: #69A625 !important; 
    background-color: #f8f9fa; 
    border: 2px solid #69A625; 
    border-radius: 5px;
    text-align: center;
    margin: 20px 15px 0 15px;
    text-decoration: none;
}
.back-btn:hover {
    background-color: #69A625; 
    color: #fff !important;
    border-color: #69A625; 
    text-decoration: none;
}
.back-btn:active {
    background-color: #497A1D;
    border-color: #3C6415; 
}
