*{
    font-family: "Roboto", sans-serif; 
}
.topo h2 {
    margin-top: 120px; 
    font-size: 35px; 
    text-align: left;
    font-weight: bolder;
    margin-left: 12%;
    margin-right: 12%;
}
.topo p{
    font-size: 15px; 
    text-align: left;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 13%;
}
.papelfundo { 
    background-image: url('papelfundo.png'); 
    background: size 100px; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    display: flex; 
    width: 100%;
    background-size: cover;
    margin-top: -20%;
    align-items: end;
}

/* Fotos */
.atividades {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
.atividades h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
}
.galeria {
    display: flex;
    justify-content: space-between;
    gap: 2px;
}
.item-galeria {
    flex: 1;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}
.item-galeria:hover {
    transform: scale(1.05);
}
.item-galeria img {
    width: 85%;
    height: 180px; 
    object-fit: cover; 
    border-radius: 3px; 
}
.item-galeria p {
    margin-top: 10px;
    font-style: italic;
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.item-galeria p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #69A625;
    transition: width 0.3s ease-in-out;
}
.item-galeria p:hover::after {
    width: 100%; 
}
/*Rodapé*/
.social-icons {
    padding-top: 25px;
}
.social-icons a {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    border-radius: 50%;
}
.social-icons a i {
    color: rgb(32, 32, 32); /* Cor inicial do ícone */
    background-color: rgb(239, 239, 239); /* Cor de fundo inicial do círculo */
    padding: 15px !important; 
    border-radius: 50% !important; 
    transition: color 0.3s ease;
}
.social-icons a:hover {
    transform: scale(1.1); 
}

.contato {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-decoration: none;
}

.contato-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none; 
    font-size: 15px;
    gap: 10px; 
}

.contato-item i {
    font-size: 20px;
}

.contato-item p {
    margin: 0;
    white-space: nowrap;
}

  
  .contact-item img {
    width: 20px;
    height: 20px;
    margin-right: 15px; 
  }
  