/* Barra de navegação */  
.navbar {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    height: 80px;
    padding: 10px 10px;
    position: fixed; 
    top: 0; 
    left: 0;
    width: 100%; 
    z-index: 1050; 
    background-color: #fff; 
}
.logo {
    font-weight: 500;
    color: #69a625;
    font-size: 24px;
    transition: 0.3s color;
    margin-left: 16%;
    margin-top: 5px;
}
.doe-button {
    background-color: #69a625;
    color: #fff;
    font-size: 15px;
    padding: 4px 15px;
    padding-top: 40px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
    margin-right: 3.7%;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
    position: fixed;
    top: -9px;
    right: 9%;
    z-index: 1000;
}
.doe-button:hover {
    background-color: #487218;
    color: #fff; 
}
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
        margin-right: 50px; 
}
.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}
.nav-link {
    font-weight: 500;
    position: relative;
    margin-bottom: 30%;
    margin-top: 40px;
    margin-left: 10px;
}
.nav-link:hover, .nav-link.active {
    color: #000;
}
.nav-item.dropdown > .nav-link::after {
    display: none; 
}
.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: #ffffff; 
    padding: 10px 0; 
    border-radius: 8px; 
    min-width: 180px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: none; 
}
.nav-item:hover .dropdown-menu {
    display: block;
}
.dropdown-menu .dropdown-item {
    font-weight: 500;
    padding: 10px 20px; 
    color: black; 
    text-align: left; 
    background-color: transparent; 
    transition: background-color 0.3s ease; 
    margin-top: -5px;
}
.dropdown-item {
    display: block;
    padding-left: 20px;
    margin-top: 10px;
}
@media (min-width: 200px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #69a625;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}
.container2 {
    text-align: right;
    color: white;
    padding-right: 200px;
    padding-left: 15px;
}
.offcanvas-body {
    margin-right: 1%;
    margin-left: 50px;
}
.login-button {
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: #69a625;
    border-radius: 50%;
    font-size: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    margin-left: 47px;
    border: 2px solid #69a625;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}
.login-button:hover {
    background-color: #69a625;
    color: white;
}
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}
.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}
.container {
    text-align: center;
    margin-top: 50px;
}
.nav-item.dropdown > .nav-link::after {
    display: none; 
}
/* Ajuste de espaçamento dentro do hambúrguer */
.offcanvas-body .navbar-nav {
    margin-top: 10px; 
}
.nav-item {
    margin-bottom: 10px; 
}
.nav-item .nav-link {
    margin-top: 10px; 
    margin-bottom: 10px; 
}
.offcanvas-header .offcanvas-title {
    font-size: 20px;
    margin-bottom: 5px; 
}
.offcanvas-header .btn-close {
    margin-top: 0;
    padding: 10px; 
}
.nav-item.dropdown .nav-link {
    margin-top: 10px; /
}
.nav-item .dropdown-menu {
    padding: 5px 0; 
}


/*Estilizações gerais do site*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif !important;
    background-color: #f4f4f4;
    color: #313131;
}


/*Banner da página*/
.boletim {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 1.5rem 0;
}
.boletim .texto-banner h2 {
    text-align: right;
    color: #313131;
}
.boletim .texto-banner p {
    text-align: right;
}
.boletim .imagem img {
    width: 100%;
    height: auto;
}


/*Boletins da usina*/
.subtitulo-boletim {
    margin: 35px;
    font-size: 20px;
    text-align: left;
}
.boletins {
    margin: 40px;
}
.boletins ul {
    list-style-type: none;
}
.boletins li {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}
.boletins li p {
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
}
.boletim-botao {
    background-color: #ffffff;
    color: #69A625;
    border: 2px solid #69A625;
    border-radius: 5px !important;
    padding: 8px 16px !important;
    font-size: 15px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    cursor: pointer;
    margin-top: auto;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
}
.boletim-botao:hover {
    background-color: #69A625;
    border: 2px solid #69A625;
    border-radius: 5px;
    color: white;
}
@media (max-width: 900px) {
    .boletim-botao {
        position: static;
        transform: translateY(0%);
    }
}


/*Seção do newsletter*/
.newsletter-container {
    background-color: #D9D9D9;
    padding: 30px;
    border-radius: 20px 20px 0 0;
    margin-top: 30px;
}
.conteudo{
    margin-left: 15%;
}
.newsletter-container h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 15px;
}
.newsletter-container p {
    font-size: 15px;
    margin-bottom: 20px;
}
.form-group {
    flex: 1;
    margin-bottom: 2%;
}
.newsletter-container .form-control {
    max-width: 100%;
    margin: 0 auto;
}
.newsletter-container .cadastro-botao {
    background-color: #69A625;
    color: white;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
}
.newsletter-container .cadastro-botao:hover {
    background-color: #3b5f13;
}
.form-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.form-control {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #ccc !important; 
}
@media (max-width: 767px) {
    .form-group {
        flex: 1 1 100%;
    }
    .newsletter-container .form-control {
        max-width: 100%;
    }
    .newsletter-container .cadastro-botao {
        width: 100%;
    }
}



.bloco{
    background-color: #2B3420;
}
.social-icons {
    padding-top: 3px;
}
.social-icons a {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    border-radius: 50%;
}
.social-icons a i {
    color: rgb(32, 32, 32); 
    background-color: rgb(239, 239, 239);
    padding: 15px !important; 
    border-radius: 50% !important; 
    transition: color 0.3s ease;
}
.social-icons a:hover {
    transform: scale(1.1); 
}
.contato {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px; 
    text-decoration: none;
}
.contato-item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none; 
    font-size: 15px;
    gap: 10px; 
}
.contato-item:hover {
    transform: scale(1.02);
    text-decoration: none;
    color: #ffffff;
}
.contato-item i {
    font-size: 15px; 
}
.contato-item p {
    margin: 0; 
    white-space: nowrap;
}
.texto{
    font-size: 30px; 
    color: #AEAEAE; 
    text-align: center;
    font-weight: bolder;
}