/* Estilos Gerais */ 
body {
    font-family: 'roboto';
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.container {
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    width: 100%;
    text-align: center;
}
h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

/* Logo */
.logo {
    margin-top: 10px;
    background-color: #fff;
    text-align: center;
    margin-bottom: 15px;
    display: inline-block; 
    padding: 15px;
}

/* Formulário */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-groups {
    margin-bottom: 15px;
    text-align: center;
}
.form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    background-color: #e0e0e0; 
    text-align: left; 
}
.form-control::placeholder {
    color: #aaa;
    font-size: 14px; 
}

/* Botões de Pagamento */
.btn-pagamento {
    background-color: #fff; 
    color: #69A625;
    padding: 10px 40px;
    border: 2px solid #69A625; 
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
    width: 120px;
    transition: background-color 0.3s, color 0.3s; 
}
.btn-pagamento:hover {
    background-color: #69A625; 
    color: white;
}

/* Estilo para o link */
a {
    text-decoration: none; 
}
a:hover, a:hover .btn-pagamento {
    color: #fff;
}

/* Estilo para os botões quando selecionados */
.selecionado {
    background-color: #69A625;
    color: white; 
    border-color: #69A625;
}

/* Botão Continuar */
.btn-continuar {
    background-color: #69A625;
    color: #fff; 
    padding: 5px 15px; 
    border: 2px solid #69A625; 
    border-radius: 5px;
    font-size: 14px; 
    margin-left: 151px; 
    margin-top: 50px; 
    transition: background-color 0.3s, color 0.3s;
}

.btn-continuar:hover {
    background-color: #4e7a1b;
    border-color: #4e7a1b; 
    color: #fff; 
}