body {
    font-family: 'Roboto', sans-serif; /* Aplica a fonte Roboto ao corpo */
}

ul {
    list-style: none;
    display: flex;
    justify-content: center; /* Centraliza os itens */
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 0; /* Remove o padding padrão */
}

li {
    margin: 0 30px; /* Aumenta o espaçamento entre os itens */
}

.nav-item {
    color: rgb(0, 0, 0); /* Cor dos itens da nav */
    text-decoration: none; /* Remove sublinhado */
}