.torn-paper-section {
    background-image: url('/Galeria/img/fundo.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a seção */
    background-position: center; /* Centraliza a imagem */
    height: 100vh; /* Altura da seção igual à altura da tela */
    display: flex; /* Para centralizar o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
}

.content-wrapper {
    color: black; /* Cor do texto, ajuste conforme necessário */
    padding: 20px; /* Adiciona um espaço ao redor do conteúdo */
}

.event-section {
    text-align: center; /* Centraliza o conteúdo */
    margin: 20px 0; /* Espaço ao redor da seção */
}
.event-title {
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    color: #000000; /* Cor do texto */
    text-decoration: underline; /* Sublinha o texto para indicar que é um link */
    text-align: center;
}