* { 
    font-family: "Roboto", sans-serif; 
}

.torn-paper-section { 
    background-image: url('/Galeria/img/fundo2.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh; 
    display: flex; 
}

.content-wrapper {
    color: black; 
    padding: 20px; 
}

.event-container {
    display: flex;
    gap: 10px; 
    justify-content: center; 
    flex-wrap: wrap;
}

.event-section {
    text-align: center; 
    flex: 1;
    max-width: 25%; 
    margin: 20px;
}

.event-section img {
    width: 297px;
    height: 259px;
    object-fit: contain;
    transition: transform 0.3s ease; 
}

.event-section img:hover {
    transform: scale(1.1); 
}

.event-title {
    font-size: 20px;
    margin-top: 10px;
    color: black;
    text-decoration: none; 
    display: block; 
}

.event-title:hover {  
    font-weight: bold;
}


/* Estilo para garantir que o link envolva a imagem */
.event-link {
    display: block; 
}

.torn-paper-section h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.torn-paper-section p {
    font-size: 1.5rem;
    line-height: 1.6;
}

/*Rodapé*/
.social-icons {
    padding-top: 25px;
}

.social-icons a {
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
    border-radius: 50%;
}

.social-icons a i {
    color: black; /* Cor inicial do ícone */
    background-color: white; /* Cor de fundo inicial do círculo */
    padding: 12px; /* Ajuste do padding para um círculo mais consistente */
    border-radius: 50%; /* Garante o fundo circular */
    transition: color 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.1); /* Aumenta o ícone em 10% */
}