* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    width: 100%;
    height: fit-content;
}

.container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.logo img {
    width: 50px;
    margin-left: 100px;; 
}

.menu {
    display: flex;
    justify-content: center;
    position: relative;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #1D1D1F;
    font-weight: 300; 
    transition: color 0.3s ease;
    font-size: 9px; 
    padding-right: 5px;
    position: relative; 
}

nav a::after {
    content: "";
    width: 100%;
    height: 2px;
    background-image: linear-gradient(45deg, #83ca32, #69A625); 
    position: absolute;
    bottom: -5px; 
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
    transition: width 0.5s;
}

nav a:hover::after {
    opacity: 1;
}

nav a:hover {
    color: #69A625;
}

.botoes {
    display: flex;
    gap: 15px;
}

.botoes button {
    background-color: #69A625;
    border: none;
    padding: 5px 20\%;
    color: white;
    font-size: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.botoes button:hover {
    background-color: white;
    color: #69A625;
    border: 2px solid #69A625; 
}

.doe{
    margin-right: 100px;
}