/* Estilos Gerais */
*{ 
    font-family: "Roboto", sans-serif; 
}

.navbar {
    background-color: #fff;
    height: 70px;
}

/* Logo */
.logo {
    font-weight: 500;
    color: #69a625;
    font-size: 24px;
    transition: 0.3s color;
    margin-left: 18%;
    margin-bottom: 5%;
}

/* Botão de Doação */
.doe-button {
    background-color: #69a625;
    color: #fff;
    font-size: 15px;
    padding: 4px 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
    margin-right: 12%;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.doe-button:hover {
    background-color: #487218;
}

/* Toggler do Navbar */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

/* Links da Navbar */
.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    margin-bottom: 30%;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

/* Remove seta do dropdown */
.nav-item.dropdown > .nav-link::after {
    display: none; /* Esconde o ícone de seta */
}

/* Dropdown Menu Inline */
.nav-item.dropdown {
    position: relative;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 70%; /* Reduzido para aproximar o menu do título principal */
    left: 0;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.nav-item:hover .dropdown-menu {
    display: block; /* Exibe o menu ao passar o mouse */
}

.dropdown-menu .dropdown-item {
    padding: 5px 0;
    color: #666777;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover {
    color: #000;
    background: none;
}

/* Para espaçar itens do dropdown */
.dropdown-item {
    display: block;
    padding-left: 20px;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #69a625;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

/* Outros estilos */
.container2 {
    text-align: right;
    color: white;
    padding-right: 200px;
    padding-left: 15px;
}

.offcanvas-body {
    margin-right: 1%;
    margin-left: 5%;
}

.login-button {
    margin-right: 22%;
    border: 2px solid #69a625;
    color: #69a625;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.login-button:hover {
    background-color: #69a625;
    color: white;
}

/* Seção Hero */
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

/* Estilos Globais */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    margin-top: 50px;
}

/* Remove seta do dropdown */
.nav-item.dropdown > .nav-link::after {
    display: none; /* Esconde o ícone de seta */
}

button {
    background-color: #ffffff; /* Começa branco */
    color: #69A625;
    border: 2px solid #69A625;
    padding: 8px 16px;
    font-size: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
    cursor: pointer;
    margin-top: auto;
}

button:hover {
    background-color: #69A625; /* Fica verde ao passar o mouse */
    color: white; /* Texto fica branco */
    border-color: #69A625; /* Borda também fica verde */
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #ffffff; /* Começa branco */
    color: #69A625;
    border: 2px solid #69A625;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.pagination button:hover {
    background-color: #69A625; /* Fica verde ao passar o mouse */
    color: white; /* Texto fica branco */
}

.pagination button:disabled {
    background-color: #69A625;
    cursor: not-allowed;
    color: #ffffff;
    border-color: #69A625;
}

.pagination span {
    color: #69A625;
    font-weight: bold;
    margin: 0 10px;
    display: inline-block;
    text-align: center;
}

#news-container {
    text-align: left;
}

.row {
    justify-content: flex-start;
}

header {
    margin-top: 150px;
    background-color: #69A625;
    color: white;
    padding: 10px;
    text-align: center;
}

.titulo-eventos {
    font-size: 35px;
    padding-bottom: 10px;
}

.subtitulo-banner {
    font-size: 15px;
    padding-bottom: -5px;
}

.news-image {
    width: 293.52px;
    height: 226px;
    object-fit: cover; /* Garantir que a imagem se ajuste ao tamanho sem distorção */
}
