/* Estilos Gerais */
*{ 
    font-family: "Roboto", sans-serif; 
}

.navbar {
    background-color: #fff;
    height: 70px;
}

/* Logo */
.logo {
    font-weight: 500;
    color: #69a625;
    font-size: 24px;
    transition: 0.3s color;
    margin-left: 18%;
    margin-bottom: 5%;
}

/* Botão de Doação */
.doe-button {
    background-color: #69a625;
    color: #fff;
    font-size: 15px;
    padding: 4px 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
    margin-right: 12%;
    text-decoration: none;
    transition: 0.3s background-color;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}

.doe-button:hover {
    background-color: #487218;
}

/* Toggler do Navbar */
.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

/* Links da Navbar */
.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
    margin-bottom: 30%;
}

.nav-link:hover, .nav-link.active {
    color: #000;
}

/* Remove seta do dropdown */
.nav-item.dropdown > .nav-link::after {
    display: none; /* Esconde o ícone de seta */
}

/* Dropdown Menu Inline */
.nav-item.dropdown {
    position: relative;
}

.nav-item .dropdown-menu {
    display: none;
    position: absolute;
    top: 70%; /* Reduzido para aproximar o menu do título principal */
    left: 0;
    background: none;
    border: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.nav-item:hover .dropdown-menu {
    display: block; /* Exibe o menu ao passar o mouse */
}

.dropdown-menu .dropdown-item {
    padding: 5px 0;
    color: #666777;
    font-weight: 500;
}

.dropdown-menu .dropdown-item:hover {
    color: #000;
    background: none;
}

/* Para espaçar itens do dropdown */
.dropdown-item {
    display: block;
    padding-left: 20px;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: 2px;
        background-color: #69a625;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before {
        width: 100%;
        visibility: visible;
    }
}

/* Outros estilos */
.container2 {
    text-align: right;
    color: white;
    padding-right: 200px;
    padding-left: 15px;
}

.offcanvas-body {
    margin-right: 1%;
    margin-left: 5%;
}

.login-button {
    margin-right: 22%;
    border: 2px solid #69a625;
    color: #69a625;
    padding: 5px 12px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.login-button:hover {
    background-color: #69a625;
    color: white;
}

/* Seção Hero */
.hero-section::before {
    background-color: rgba(0, 0, 0, 0.6);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-section .container {
    height: 100vh;
    z-index: 1;
    position: relative;
}

.hero-section h1 {
    font-size: 1.5em;
}

.hero-section h2 {
    font-size: 1.2em;
}

/* Estilos Globais */
body {
    font-family: "Roboto", sans-serif;
    background-color: #f9f9f9;
}

.container {
    text-align: center;
    margin-top: 50px;
}

/* Remove seta do dropdown */
.nav-item.dropdown > .nav-link::after {
    display: none; /* Esconde o ícone de seta */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cookies-aviso {
    z-index: 10000;
    position: fixed;
    bottom: 0;
    left: 0;
    min-height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 2px 3px 15px #000;
    padding: 24px 12px;
}

#cookies-aviso .conteudo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cookies-aviso .conteudo span {
    font-size: 18px;
    line-height: 1.5;
}

#cookies-aviso .acoes {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}

#cookies-aviso .acoes button {
    padding: 12px 24px;
    border: none;
    border-radius: 12px;
    outline: none;
    margin: 6px;
    transition: background-color .5s;
    cursor: pointer;
}

#cookies-aviso .acoes .rejeitar {
    border: 1px solid #69a625;
    color: #69a625;
}

#cookies-aviso .acoes .rejeitar:hover {
    background-color: red;
    border-color: red;
    color: #fff;
}

#cookies-aviso .acoes .aceitar {
    background-color: #69a625;
    color: #fff;
}

#cookies-aviso .acoes .aceitar:hover {
    background-color: #3b5f13;
    color: #fff;
}